@charset "utf-8";
.wide-user-tool-bar{
    width: 100%;
    height: 26px;
    color: #999999;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    z-index: 30001;
    font-size: 12px;
}
.tool-bar-content{
    height: 26px;
    line-height: 26px;
}
.content{
    width: 1190px;
    margin: 0 auto;
}
.tool-bar-content-left,
.tool-bar-content-mid,
.tool-bar-content-right{
    position: relative;
    float: left;
}
.tool-bar-content-left svg{
    font-size: 13.2px;
}
.tool-bar-content a{
    color: rgb(102, 102, 102);
}
.tool-bar-content a:hover{
    color: #ff6600;
}
.tool-bar-content-mid{
    margin: 0 15px;
}
.tool-bar-content-right{
    margin-left: 160px;
}
.tool-bar-content-right>a{
    padding: 0 10px;
}
.tool-bar-content-right>a:nth-of-type(4)>i,
.tool-bar-content-right>a:nth-of-type(5)>i,
.tool-bar-content-right>a:nth-of-type(6){
    color: #ff6600;
}
.tool-bar-content-right>a:nth-child(5)>i,
.tool-bar-content-right>a:nth-child(6)>i{
    font-size: 14px;
}
.myself{
    position: relative;
    display: inline-block;
    width: 63.625px;
    height: 26px;
}

.tool-bar-list{
    position: absolute;
    left: 0;
    top: 26px;
    display: none;
    z-index: 4;
}
.tool-bar-list li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-list2{
    position: absolute;
    top: 26px;
    left: 159px;
    background: #fff;
    display: none;
    z-index: 4;
}
.tool-bar-list2 li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-mobile{
    position: relative;
}

.tool-bar-phoneimg{
    position: absolute;
    left: -43px;
    top: 17px;
    width: 168px;
    height: 203px;
    background: url("../images/tubiao.png") 0 -146px;
    display: none;
    z-index: 4;
}
.tool-bar-mobile:hover .tool-bar-phoneimg{
    display: block;
    animation: show 200ms linear;
}
/*顶部通栏结束*/
/*通栏广告开始*/
.top-adver{
    width: 1190px;
    position: relative;
    margin: 0 auto;
    height: 95px;
    overflow: hidden;
}
.top-adver-img{
    position: absolute;
    font-size: 0;
}
/*通栏广告结束*/
/*网站信息开始*/
.page-title{
    width: 1190px;
    margin: 0 auto;
}
.page-title::after{
    content: "";
    display: block;
    clear: both;
}
.page-title-left,
.page-title-mid,
.page-title-right{
    float: left;
}
.page-title-left>img{
    padding: 10px 0;
}
.page-title-mid{
    margin-left: 250px;
}
.page-title-right{
    color: #999;
    margin-left: 133px;
    padding-top: 21px;
    margin-top: -9px;

}
.page-title-right>.input-box{
    border: 2px solid #90c221;
    border-right: none;
    
}

.page-title-right>.input-box>input{
    width: 215px;
    height: 30px;
    border:none;
}
.page-title-right>.input-box .icon-sousuo_sousuo{
    font-size: 15px;
}
.page-title-right>.input-box>button{
    background-color: #90c221;
    color: #fff;
    font-family: "黑体";
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 600;
}
.page-title-right>p{
    font-size: 12px;
    padding: 4px 0;
}
.page-title-right>p>a{
    padding: 0 5px;
    color:#ccc;
}
/*网站信息结束*/

/*第一层导航开始*/
.wide-channel-bar{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    background-color: #90c31f;
}
/*左侧栏*/
.nav-left{
    position: relative;
    width: 210px;
    background: #6d9d03;
    float: left;
}
.nav-list{
    height: 35px;
    position: relative;
    overflow: hidden;
}
.nav-list>li{
    width: 210px;
    position: absolute;
    color: #fff;
    transition: all 300ms ease;
    font-size: 14px;
 }
.nav-list>li>span{
    text-align: center;
    display: block;
    line-height: 34px;
}
.nav-list>li>span>i{
    margin-left: 6px;
}

.category-info{
    position: absolute;
    width: 210px;
    color: #666;
    z-index: 10;
    background-color: #fff;
    /*overflow: hidden;*/
}
.category-info>li{
    transition: all 200ms linear;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px dashed #ccc;
    z-index: 2;

}
.category-info>li:nth-last-child(1){
    height: 43px;
}
.category-left-img{
    margin-left: 27px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/tubiao.png");
    vertical-align: middle;
}
.category-info .left-img1{
     background-position:  0 -415px;
 }
.category-info .left-img2{
    background-position:  0 -453px;
}
.category-info .left-img3{
    background-position:  0 -494px;
}
.category-info .left-img4{
    background-position:  0 -531px;
}
.category-info .left-img5{
    background-position:  0 -570px;
}
.category-info .left-img6{
    background-position:  0 -607px;
}
.category-info .left-img7{
    background-position:  0 -644px;
}
.category-right-next{
    position: absolute;
    right: 20px;
    color: #cbcbcb;
}
.category-info>li:hover{
    background: snow;
    color: #000;
    transform: translate(0 -2px);
    box-shadow: 0 0 5px #333;
}
.child-list{
    position: absolute;
    left: 210px;
    top: -1px;
    width: 760px;
    height: 319px;
    background: snow;
    border: 1px solid #94c51b;
    z-index: -1;
    display: none;
}
.child-list-left{
    width: 505px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    /*border: 1px solid red;*/
}
.child-list-left-dt{
    width: 75px;
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    font-weight: bold;
    float: left;
}
.child-list-left-dt>b{
    margin: 0 5px;
}

.child-list-left-dd{
    width: 410px;
    float: left;
    line-height: 16px;
    padding: 5px 0;
    margin: 0 0 10px 10px;
    border-bottom: 1px dotted #ccc;
}
.child-list-left-dd li{
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    margin: 0 1.7px;
    /*padding: 0 4px 0 5px;*/
    /*border-left: 1px solid #ccc;*/
    white-space: nowrap;
}
.child-list-left-dd li span{
    font-size: 12px;
    color: #ff6600;
}
.child-list-right{
    width: 224px;
    height: 282px;
    position: absolute;
    top: 18px;
    right: 0;
    border-left: 1px solid #ccc;
}
.child-list-right li{
    width: 210px;
    margin: 1px auto;
}

/*列表页导航*/
.nav-right{
    height: 35px;
    overflow: hidden;
    float: left;
}
.nav-right>.nav-bar>li{
    float: left;
    transition: all 300ms linear;
}
.nav-right-items>span{
    display: block;
    font-size: 14px;
    padding: 0 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nav-right>.nav-bar>li:hover{
    background: #77b001;
}

/*列表页导航结束*/
// 内容开始

#man{
    width: 1190px;
    height: 4837px;
    margin:0 auto;
    position:relative;
    .top{
    height: 69px;
    position:relative;
    .biao{
        width: 24px;
        height: 19px;
        background: url("../images/tubiao.png") 0 -93px;
        position:absolute;
        top:28px;
        left:0; 
    }
    p{
         color:#5D6D60; 
    font-size:14px;
    line-height: 69px;
    margin-left:27px;
    }
 }
}
#top_left{
    float:left;
    position:relative;
    #top_left_img{
        width: 400px;
        height: 400px;
        position: relative;
        border: 1px solid #ccc;
        display: table-cell;
        vertical-align: middle;
        img{
           width: 400px;
            height: 400px;
        }
    }
    #top_left_img_fd{
        z-index:1000;
        height: 404px;
        width: 404px;
        position:relative;
        overflow: hidden;
        // background:#000;
        border: 1px solid #ccc;
        position:absolute;
        top:0;
        left:405px;
        // transform:translate(415px,-406px);
        display:none;
        img{
            width: 800px;
            height: 800px;
            position:absolute;
            top:500px;
            left:300px;
        }
    }
}
#top_left_img2{
    width: 400px;
    height: 70px;
    margin-top: 20px;
    position: relative;
    #img2_left{
        width: 15px;
        height: 70px;
        position: absolute;
        top: 0px;
        cursor: pointer;
        i{
            width: 8px;
            height: 15px;
            margin: 30px auto;
            background: url(../images/tubiao.png) no-repeat;
            background-position: -180px -742px;
            margin-left: 0px;
            display: block;
            overflow: hidden;
        }
    }
    #img2_centre{
        position: absolute;
        left: 16px;
        top: 0px;
        width: 370px;
        height: 70px;
        overflow: hidden;
        ul{
            width: 304px;
            li{
                float: left;
                width: 66px;
                height: 66px;
                padding: 1px;
                border: 1px solid #dedede;
                text-align: center;
                margin: 0 2px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 66px;
                    height: 66px;
                    display: block;
                }
            }
        }
    }
   #img2_right{
     width: 15px;
    height: 70px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    i{
       width: 8px;
        height: 15px;
        margin: 30px auto;
        background: url(../images/tubiao.png) no-repeat;
        background-position: -189px -742px;
        margin-left: 0px;
        display: block;
        overflow: hidden; 
    }
   } 
}
#top_left_img3{
    height: 30px;
    margin-top: 18px;
    color: #999999;
    line-height: 14px;
    position: relative;
    img{
        height: 30px;
        width: 380px;
    }
}
#top_right{
    margin: -5px 10px 0 50px;
    width: 621px;
    float: left;
    #top_right_top{
        height: 40px;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        overflow: hidden;
        position:relative;
        span{
            display:block;
            float: left;
            max-width: 550px;
            width: 365px;
            overflow: hidden;

        }
        p{
            font-size: 16px;
            line-height: 20px;
            color: #ff6600;
            position:absolute;
            left:0;
            top:20px;    
        }
    } 
}
.details_top_message {
    padding: 5px 0 10px 0;
    border-bottom: 1px dotted #ccc;
    font-size: 12px;
    line-height: 24px;
}
.details_top_message_price_cx {
    height: 40px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding-left: 9px;
}
.details_top_message_price_cx div {
    width: 200px;
    float: left;
    padding: 5px 0;
  }
  .details_top_message_price_cx b {
    font-size: 16px;
    font-weight: 100;
}
.details_top_message .details_top_message_sales {
    color: #FF6600;
}
.details_top_message .details_top_message_sales div {
    float: left;
    line-height: 30px;
}
.details_top_r .message_title {
    padding: 0 5px;
    color: #666666;
}
.details_top_message .details_top_message_sales div {
    float: left;
    line-height: 30px;
}
.message_sales p {
    height: 28px;
    line-height: 28px;
}
.message_sales b {
    height: 18px;
    line-height: 18px;
    font-weight: 100;
    color: #fff;
    background-color: #FF6600;
    padding: 0 5px;
    margin: 5px 5px 0 0;
    float: left;
}
.message_sales p img {
    width: 26px;
    height: 26px;
    margin-top: 1px;
    float: left;
    overflow: hidden;
}
.message_sales p label {
    float: left;
    margin: 0 10px 0 5px;
}
.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0px;
}
.details_top_r .message_title {
    padding: 0 5px;
    color: #666666;
}
.details_top_message .message_title_1 {
    margin-left: 40px;
}

.details_top_r .message_title {
    padding: 0 5px;
    color: #666666;
}
.details_top_message_price_cx .d_t_m_p_cx2 {
    background-color: #fe9047;
}
.details_top_message_price_cx .d_t_m_p_cx4 {
    background-color: #ff7f29;
}
.details_top_message_price_cx .d_t_m_p_cx6 {
    background-color: #f60;
}
.details_top_r .message_title {
    padding: 0 5px;
    color: #666666;
}
.shop_cart{
    width:100%;
    height:181px;
    background:#fff;
    padding-top:30px;
}
#shop_left{
    padding-top:6px;
    float:left;
    width:69px;
    height:120px;
    font-size: 12px;
    color:#666;
    text-indent: 10px;
}
.shop_center{
    float:left;
    width:314px;
    height:120px;
}
.shop_cleft1{
    width:100%;
    line-height:24px;
    margin-bottom: 6px;
    float:left; 
    position:relative;
}
.shop_cleft1 ul{
    display:none ;
    padding:3px 0 0 3px;
    position:absolute;
    top:24px;
    left:100px;
    z-index: 100;
    width:337px;
    height:106px;
    background:#fff;    
}
.shop_cleft1 ul li{
    width:40px;
    border:1px solid #cccccc;
    line-height:28px;
    float:left;
    text-align: center;
    font-size: 12px;
    color:#666;
    margin:0 6px 6px 0; 
}
.shop_cleft1 span{
    float:left;
    font-size: 12px;
    color:#666;
}
.shop_cbottom{
    margin-top:6px;
    // width:100%;
    // height:34px;
    position:relative;
}
.shop_cbottom div{
    width: 50px;
    height: 50px;
    background:#000;
    position:absolute;
    left:320px;
    top:50px;
    display:none;
        img{
            width: 100%;
            height: 100px;

        }

}
.shop_cbottom p{
    float:left;
    width:152px;
    line-height:34px;
    text-align: center;
    font-size: 17px;
    color:#fff; 
    background:#ff6600;
    border-radius: 3px;
}
.shop_cbottom p:nth-of-type(2){
    background:#fff;
    box-sizing: border-box;
    border:1px solid #ff6600;
    margin-left:10px;
    color:#ff6600;
    text-align: left;
    text-indent: 45px;
    position:relative;
    i{
        display:block;
       width: 16px;
       height: 16px;
       background:#fff url("../images/tubiao.png") no-repeat 0 -47px;
       position:absolute;
       left:21px;
       top:10px; 
    }

}
.shop_right{
    float:right;
    height:100%;
    width:146px;
}
.shop_right span{
    display:block;
    width:100%;
    line-height:15px;
    font-size: 12px;
    color:#666;
}
.shop_right span:first-child{
    margin-bottom:17px;
    text-indent: 12px;
}
.shop_right span:nth-of-type(2){
    text-indent: 36px;
}
.shop_cleft1 span:nth-of-type(1){
    width:55px;
    height:100%;
    background:#90c31f;
    color:#fff;
    text-align: center;
    margin-right:10px;
    border-radius: 2px; 
}
.shop_cleft1 span:nth-of-type(3){
    width:66px;
    height:22px;
    // border:1px solid #cccccc;
    background:url(../images/shopcart1.jpg) no-repeat right 0;
    text-indent: 4px;
    margin-right:10px;  
}
.shop_cleft1 span:nth-of-type(5){
    width:21px;
    height:22px;
    border:1px solid #cccccc;
    background:#eeeeee;
    text-align: center; 
    margin-right:3px;
}
.shop_cleft1 span:nth-of-type(6){
    width:21px;
    height:22px;
    border:1px solid #cccccc;
    background:#eeeeee;
    text-align: center; 
    margin-right:3px;
}
.shop_cleft1 span:nth-of-type(7){
    width:21px;
    height:22px;
    border:1px solid #cccccc;
    background:#eeeeee;
    text-align: center; 
}

#button_left{
        width: 210px;
        margin-bottom: 30px;
        float:left;
         position:absolute;
        left:0;
        top:630px;
        #button_left_top{
            width: 208px;
            border: 1px solid #eee;
            border-top: 3px solid #90c31f;
            overflow: hidden;
            .man_left_ul>div{
                display:none;
            }
            .man_left_ul>li{
            padding-left: 25px;
            height: 30px;
            
            border-bottom: 1px solid #D9D9D9;
            background-color: #f5f5f5;
            cursor: pointer;
            white-space: nowrap;
            position:relative;
            span{
                display:block;
                width: 16px;
                height: 16px;
                position: absolute;
                background:url("../images/tubiao.png") -7px -796px;
                top:9px;
                left:5px;
            }
            a{
                color:#92C020;
                line-height: 30px;
                font-size:16px;
            }
           
        }
        }
}
.man_left_centre{
    width: 208px;
    border: 1px solid #e9e9e9;
    border-top: 3px solid #90c31f;
    margin-top: 10px;
    .left_centre{
        width: 198px;
        height: 27px;
        padding-left: 10px;
        border-bottom: 1px solid #e9e9e9;
        font-size: 14px;
        line-height: 27px;
        color: #666666;
    }
    ul{
        li{
            width: 198px;
            height: 299px;
            padding: 0 5px 0 5px;
            border-bottom: 1px solid #e9e9e9;
            overflow: hidden;
        img{
            width: 198px;
    height: 198px;
        }
        span{
          color: #f60;
    font-size: 16px; 
        }
        p{
            color: #666666;
        }
        }
    }
}
#bottom_right{
        position:absolute;
        left:230px;
        top:630px;
        width: 970px;
        float:left;
        overflow: hidden;

        .bottom_right_top{
            width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;

        span{
            height: 32px;
            
            font-weight: bold;
            background-color: #fff;
            font-size: 14px;
            float: left;
            padding: 0 25px 0 25px;
            line-height: 33px;
            border: 1px solid #dddddd;
            margin-right: -1px;
            display: block;
            position: relative;
            cursor: pointer;
           
        } 
        .top_span{
             border-top: 2px solid #ff6600;
             color: #ff6600;
        }
        }
}
.bottom_right_bottom{
    display:none;
    .bottom_right_bottom_top{
        border: 1px solid #eee;
    border-width: 0 1px;
    padding: 10px 20px;
        .bottom_div_text{
            padding: 12px;
            margin: 10px 20px;
            color: #666;
            line-height: 24px;
            border: 1px solid #ccc;
        }
    }
    .bottom_right_img{
        display:block;
        border:1px solid #eee;
        .ades{
            img{
                width: 100%;
                border: none;
                outline: none;
                vertical-align: middle;
            }
        }
    }
}
/*右侧漂浮*/
.pf-right{
    position: fixed;
    z-index: 10000;
    width: 55px;
    height: 365px;
    border: 1px solid #ccc;
    top: 252px;
    right: 88px;
    // background: #fff;
}
.pf-right li{
    width: 55px;
    height: 60px;
    border-bottom: 1px #ccc solid;
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #6d9d03;
}
.pf-right li>i{
    font-size: 20px;
}
.pf-right li:hover{
    background: #94c51b;
    color: #fff;
}
.weixinkefu>div{
    position: absolute;
    background-image: url("../images/tubiao.png");
    background-position: -111px -461px;
    width: 198px;
    height: 254px;
    left: -198px;
    top: -174px;
    display: none;
}
.weixinkefu:hover div{
    display: block;
    animation: show 300ms linear;
}

.yanguangshi>div{
    position: absolute;
    background-image: url("../images/tubiao.png");
    background-position: -111px -414px;
    width: 196px;
    height: 47px;
    left: -197px;
    top: 0;
    display: none;
}
.yanguangshi:hover div{
    display: block;
    animation: show 300ms linear;
}

/*右侧漂浮结束*/



// 内容结束
/*底部链接*/
.wide-footer{
    width: 100%;
    height: 400px;
    color: #999;
    background: #F0F0F0;
   
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35) inset;
    padding-top: 10px;
}
.wide-footer a{
    color:#000;
}
.footer-img{
    margin: 0 auto;
    width: 980px;
    height: 100px;
    background: url("../images/nfot-bg-03.gif") no-repeat;
}
.footer-list{
    padding: 20px 20px 20px 70px;
    border-top: 1px #fff solid;
    border-bottom: 1px solid #E0E0E0;
    width: 900px;
    height: 86px;
    margin: 0 auto;
}
.footer-list>ul{
    float: left;
    width: 150px;
    color: #666;
}
.footer-list li{
    color: #666;
    font-size: 12px;
    height: 19px;
    line-height: 160%;
    text-align: center;
}
.footer-list li:nth-child(1){
    margin-bottom: 10px;
}
.footer-list h4{
    font-size: 14px;
    font-weight: bold;
}

.footer-list2{
    width: 1190px;
    border-top: 1px #fff solid;
    text-align: center;
    padding: 14px 0;
    margin: 0 auto;

}
.footer-list2 a{
    margin-right: 5px;
}
.footer-list2 p{
    padding-top: 5px;
    color: #999;
    font-size: 12px;
}
.last-img{
    width: 698px;
    height: 40px;
    margin: 0 auto;
    background: url("../images/FTC-01-bg3gg.jpg");
}
