/*顶部通栏开始*/

.wide-user-tool-bar{
    width: 100%;
    height: 26px;
    color: #999999;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    z-index: 30001;
    font-size: 12px;
}
.tool-bar-content{
    height: 26px;
    line-height: 26px;
}
.content{
    width: 1190px;
    margin: 0 auto;
}
.tool-bar-content-left,
.tool-bar-content-mid,
.tool-bar-content-right{
    position: relative;
    float: left;
}
.tool-bar-content-left svg{
    font-size: 13.2px;
}
.tool-bar-content a{
    color: rgb(102, 102, 102);
}
.tool-bar-content a:hover{
    color: #ff6600;
}
.tool-bar-content-mid{
    margin: 0 15px;
}
.tool-bar-content-right{
    margin-left: 160px;
}
.tool-bar-content-right>a{
    padding: 0 10px;
}
.tool-bar-content-right>a:nth-of-type(4)>i,
.tool-bar-content-right>a:nth-of-type(5)>i,
.tool-bar-content-right>a:nth-of-type(6){
    color: #ff6600;
}
.tool-bar-content-right>a:nth-child(5)>i,
.tool-bar-content-right>a:nth-child(6)>i{
    font-size: 14px;
}
.myself{
    position: relative;
    display: inline-block;
    width: 63.625px;
    height: 26px;
}

.tool-bar-list{
    position: absolute;
    left: 0;
    top: 26px;
    display: none;
    z-index: 4;
}
.tool-bar-list li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-list2{
    position: absolute;
    top: 26px;
    left: 159px;
    background: #fff;
    display: none;
    z-index: 4;
}
.tool-bar-list2 li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-mobile{
    position: relative;
}

.tool-bar-phoneimg{
    position: absolute;
    left: -43px;
    top: 17px;
    width: 168px;
    height: 203px;
    background: url("../images/tubiao.png") 0 -146px;
    display: none;
    z-index: 4;
}
.tool-bar-mobile:hover .tool-bar-phoneimg{
    display: block;
    animation: show 200ms linear;
}
/*顶部通栏结束*/
/*通栏广告开始*/
.top-adver{
    width: 1190px;
    position: relative;
    margin: 0 auto;
    height: 95px;
    overflow: hidden;
}
.top-adver-img{
    position: absolute;
    font-size: 0;
}
/*通栏广告结束*/
/*网站信息开始*/
.page-title{
    width: 1190px;
    margin: 0 auto;
}
.page-title::after{
    content: "";
    display: block;
    clear: both;
}
.page-title-left,
.page-title-mid,
.page-title-right{
    float: left;
}
.page-title-left>img{
    padding: 10px 0;
}
.page-title-mid{
    margin-left: 250px;
}
.page-title-right{
    color: #999;
    margin-left: 133px;
    padding-top: 21px;
    margin-top: -9px;

}
.page-title-right>.input-box{
    border: 2px solid #90c221;
    border-right: none;
    
}

.page-title-right>.input-box>input{
    width: 215px;
    height: 30px;
    border:none;
}
.page-title-right>.input-box .icon-sousuo_sousuo{
    font-size: 15px;
}
.page-title-right>.input-box>button{
    background-color: #90c221;
    color: #fff;
    font-family: "黑体";
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 600;
}
.page-title-right>p{
    font-size: 12px;
    padding: 4px 0;
}
.page-title-right>p>a{
    padding: 0 5px;
    color:#ccc;
}
/*网站信息结束*/

/*第一层导航开始*/
.wide-channel-bar{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    background-color: #90c31f;
}
/*左侧栏*/
.nav-left{
    position: relative;
    width: 210px;
    background: #6d9d03;
    float: left;
}
.nav-list{
    height: 35px;
    position: relative;
    overflow: hidden;
}
.nav-list>li{
    width: 210px;
    position: absolute;
    color: #fff;
    transition: all 300ms ease;
    font-size: 14px;
 }
.nav-list>li>span{
    text-align: center;
    display: block;
    line-height: 34px;
}
.nav-list>li>span>i{
    margin-left: 6px;
}

.category-info{
    position: absolute;
    width: 210px;
    color: #666;
    z-index: 10;
    background-color: #fff;
    /*overflow: hidden;*/
}
.category-info>li{
    transition: all 200ms linear;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px dashed #ccc;
    z-index: 2;

}
.category-info>li:nth-last-child(1){
    height: 43px;
}
.category-left-img{
    margin-left: 27px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/tubiao.png");
    vertical-align: middle;
}
.category-info .left-img1{
     background-position:  0 -415px;
 }
.category-info .left-img2{
    background-position:  0 -453px;
}
.category-info .left-img3{
    background-position:  0 -494px;
}
.category-info .left-img4{
    background-position:  0 -531px;
}
.category-info .left-img5{
    background-position:  0 -570px;
}
.category-info .left-img6{
    background-position:  0 -607px;
}
.category-info .left-img7{
    background-position:  0 -644px;
}
.category-right-next{
    position: absolute;
    right: 20px;
    color: #cbcbcb;
}
.category-info>li:hover{
    background: snow;
    color: #000;
    transform: translate(0 -2px);
    box-shadow: 0 0 5px #333;
}
.child-list{
    position: absolute;
    left: 210px;
    top: -1px;
    width: 760px;
    height: 319px;
    background: snow;
    border: 1px solid #94c51b;
    z-index: -1;
    display: none;
}
.child-list-left{
    width: 505px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    /*border: 1px solid red;*/
}
.child-list-left-dt{
    width: 75px;
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    font-weight: bold;
    float: left;
}
.child-list-left-dt>b{
    margin: 0 5px;
}

.child-list-left-dd{
    width: 410px;
    float: left;
    line-height: 16px;
    padding: 5px 0;
    margin: 0 0 10px 10px;
    border-bottom: 1px dotted #ccc;
}
.child-list-left-dd li{
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    margin: 0 1.7px;
    /*padding: 0 4px 0 5px;*/
    /*border-left: 1px solid #ccc;*/
    white-space: nowrap;
}
.child-list-left-dd li span{
    font-size: 12px;
    color: #ff6600;
}
.child-list-right{
    width: 224px;
    height: 282px;
    position: absolute;
    top: 18px;
    right: 0;
    border-left: 1px solid #ccc;
}
.child-list-right li{
    width: 210px;
    margin: 1px auto;
}

/*列表页导航*/
.nav-right{
    height: 35px;
    overflow: hidden;
    float: left;
}
.nav-right>.nav-bar>li{
    float: left;
    transition: all 300ms linear;
}
.nav-right-items>span{
    display: block;
    font-size: 14px;
    padding: 0 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nav-right>.nav-bar>li:hover{
    background: #77b001;
}

/*列表页导航结束*/


/*内容部分开始*/

#man{
    width: 1190px;
    margin:0 auto;
}
#man .top{
    height: 69px;
    
}














/*底部链接*/
.wide-footer{
    width: 100%;
    height: 400px;
    color: #999;
    background: #F0F0F0;
   
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35) inset;
    padding-top: 10px;
}
.wide-footer a{
    color:#000;
}
.footer-img{
    margin: 0 auto;
    width: 980px;
    height: 100px;
    background: url("../images/nfot-bg-03.gif") no-repeat;
}
.footer-list{
    padding: 20px 20px 20px 70px;
    border-top: 1px #fff solid;
    border-bottom: 1px solid #E0E0E0;
    width: 900px;
    height: 86px;
    margin: 0 auto;
}
.footer-list>ul{
    float: left;
    width: 150px;
    color: #666;
}
.footer-list li{
    color: #666;
    font-size: 12px;
    height: 19px;
    line-height: 160%;
    text-align: center;
}
.footer-list li:nth-child(1){
    margin-bottom: 10px;
}
.footer-list h4{
    font-size: 14px;
    font-weight: bold;
}

.footer-list2{
    width: 1190px;
    border-top: 1px #fff solid;
    text-align: center;
    padding: 14px 0;
    margin: 0 auto;

}
.footer-list2 a{
    margin-right: 5px;
}
.footer-list2 p{
    padding-top: 5px;
    color: #999;
    font-size: 12px;
}
.last-img{
    width: 698px;
    height: 40px;
    margin: 0 auto;
    background: url("../images/FTC-01-bg3gg.jpg");
}