
/*顶部通栏开始*/

.wide-user-tool-bar{
    width: 100%;
    height: 26px;
    color: #999999;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    z-index: 30001;
    font-size: 12px;
}
.tool-bar-content{
    height: 26px;
    line-height: 26px;
}
.content{
    width: 1190px;
    margin: 0 auto;
}
.tool-bar-content-left,
.tool-bar-content-mid,
.tool-bar-content-right{
    position: relative;
    float: left;
}
.tool-bar-content-left svg{
    font-size: 13.2px;
}
.tool-bar-content a{
    color: rgb(102, 102, 102);
}
.tool-bar-content a:hover{
    color: #ff6600;
}
.tool-bar-content-mid{
    margin: 0 15px;
}
.tool-bar-content-right{
    margin-left: 160px;
}
.tool-bar-content-right>a{
    padding: 0 10px;
}
.tool-bar-content-right>a:nth-of-type(4)>i,
.tool-bar-content-right>a:nth-of-type(5)>i,
.tool-bar-content-right>a:nth-of-type(6){
    color: #ff6600;
}
.tool-bar-content-right>a:nth-child(5)>i,
.tool-bar-content-right>a:nth-child(6)>i{
    font-size: 14px;
}
.myself{
    position: relative;
    display: inline-block;
    width: 63.625px;
    height: 26px;
}

.tool-bar-list{
    position: absolute;
    left: 0;
    top: 26px;
    display: none;
    z-index: 4;
}
.tool-bar-list li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-list2{
    position: absolute;
    top: 26px;
    left: 159px;
    background: #fff;
    display: none;
    z-index: 4;
}
.tool-bar-list2 li{
    text-indent: 10px;
    cursor: pointer;
    width: 83px;
    background: #fff;
}
.tool-bar-mobile{
    position: relative;
}

.tool-bar-phoneimg{
    position: absolute;
    left: -43px;
    top: 17px;
    width: 168px;
    height: 203px;
    background: url("../images/tubiao.png") 0 -146px;
    display: none;
    z-index: 4;
}
.tool-bar-mobile:hover .tool-bar-phoneimg{
    display: block;
    animation: show 200ms linear;
}
/*顶部通栏结束*/
/*通栏广告开始*/
.top-adver{
    width: 1190px;
    position: relative;
    margin: 0 auto;
    height: 95px;
    overflow: hidden;
}
.top-adver-img{
    position: absolute;
    font-size: 0;
}
/*通栏广告结束*/
/*网站信息开始*/
.page-title{
    width: 1190px;
    margin: 0 auto;
}
.page-title::after{
    content: "";
    display: block;
    clear: both;
}
.page-title-left,
.page-title-mid,
.page-title-right{
    float: left;
}
.page-title-left>img{
    padding: 10px 0;
}
.page-title-mid{
    margin-left: 250px;
}
.page-title-right{
    color: #999;
    margin-left: 133px;
    padding-top: 21px;
    margin-top: -9px;

}
.page-title-right>.input-box{
    border: 2px solid #90c221;
    border-right: none;
    
}
.page-title-right>.input-box>input{
    width: 215px;
    height: 30px;
    border:none;
}
.page-title-right>.input-box .icon-sousuo_sousuo{
    font-size: 15px;
}
.page-title-right>.input-box>button{
    background-color: #90c221;
    color: #fff;
    font-family: "黑体";
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 600;
}
.page-title-right>p{
    font-size: 12px;
    padding: 4px 0;
}
.page-title-right>p>a{
    padding: 0 5px;
     color:#ccc;
}
.page-title-right>p>a:hover{
    color:#ff6600;
}
/*网站信息结束*/

/*第一层导航开始*/
.wide-channel-bar{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    background-color: #90c31f;
}
/*左侧栏*/
.nav-left{
    position: relative;
    width: 210px;
    background: #6d9d03;
    float: left;
}
.nav-list{
    height: 35px;
    position: relative;
    overflow: hidden;
}
.nav-list>li{
    width: 210px;
    position: absolute;
    color: #fff;
    transition: all 300ms ease;
    font-size: 14px;
 }
.nav-list>li>span{
    text-align: center;
    display: block;
    line-height: 34px;
}
.nav-list>li>span>i{
    margin-left: 6px;
}

.category-info{
    position: absolute;
    width: 210px;
    color: #666;
    z-index: 10;
    background-color: #fff;
    /*overflow: hidden;*/
}
.category-info>li{
    transition: all 200ms linear;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px dashed #ccc;
    z-index: 2;

}
.category-info>li:nth-last-child(1){
    height: 43px;
}
.category-left-img{
    margin-left: 27px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/tubiao.png");
    vertical-align: middle;
}
.category-info .left-img1{
     background-position:  0 -415px;
 }
.category-info .left-img2{
    background-position:  0 -453px;
}
.category-info .left-img3{
    background-position:  0 -494px;
}
.category-info .left-img4{
    background-position:  0 -531px;
}
.category-info .left-img5{
    background-position:  0 -570px;
}
.category-info .left-img6{
    background-position:  0 -607px;
}
.category-info .left-img7{
    background-position:  0 -644px;
}
.category-right-next{
    position: absolute;
    right: 20px;
    color: #cbcbcb;
}
.category-info>li:hover{
    background: snow;
    color: #000;
    transform: translate(0 -2px);
    box-shadow: 0 0 5px #333;
}
.child-list{
    position: absolute;
    left: 210px;
    top: -1px;
    width: 760px;
    height: 319px;
    background: snow;
    border: 1px solid #94c51b;
    z-index: -1;
    display: none;
}
.child-list-left{
    width: 505px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    /*border: 1px solid red;*/
}
.child-list-left-dt{
    width: 75px;
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    font-weight: bold;
    float: left;
}
.child-list-left-dt>b{
    margin: 0 5px;
}

.child-list-left-dd{
    width: 410px;.child-list-left-dd;
    float:left;
    line-height: 16px;
    padding: 5px 0;
    margin: 0 0 10px 10px;
    border-bottom: 1px dotted #ccc;
}

.child-list-left-dd li{
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    margin: 0 1.7px;
    /*padding: 0 4px 0 5px;*/
    /*border-left: 1px solid #ccc;*/
    white-space: nowrap;
}
.child-list-left-dd li span{
    font-size: 12px;
    color: #ff6600;
}
.child-list-right{
    width: 224px;
    height: 282px;
    position: absolute;
    top: 18px;
    right: 0;
    border-left: 1px solid #ccc;
}
.child-list-right li{
    width: 210px;
    margin: 1px auto;
}

/*右侧列表页导航*/
.nav-right{
    height: 35px;
    overflow: hidden;
    float: left;
}
.nav-right>.nav-bar>li{
    float: left;
    transition: all 300ms linear;
}
.nav-right-items>span{
    display: block;
    font-size: 14px;
    padding: 0 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nav-right>.nav-bar>li:hover{
    background: #77b001;
}

/*右侧列表页导航结束*/
/*首焦开始*/
.wide-banner-bg{
    background-color: #FEDCDD;
    width: 100%;
    height: 320px;
}
.wide-banner-content{
    width: 1190px;
    margin: 0 auto;
}
.wide-banner{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    left: 210px;
    float: left;
    width: 760px;
    height: 320px;
    font-size: 0;
}
.wide-banner>img{
    position: absolute;
    display: none;
}
.banner-num{
    position: absolute;
    bottom: 20px;
    font-size: 0;
    z-index: 2;
    left: 50%;
}
.banner-num>li{
    opacity: 0.8;
    float: left;
    width: 16px;
    height: 16px;
    background: #333;
    border-radius: 8px;
    margin: 0 3px;
}
.banner-num>li.on{
    background: #94c51b;
}
.wide-banner-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: #222;
    opacity: 0.3;
    z-index: 3;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    font-family: "宋体";
    display: none;
}
.wide-banner:hover .wide-banner-btn{
    display: block;
}
.wide-banner-btn:hover{
    color: #fff;
    background-color: #222;
    opacity: 0.7;
}
.wide-banner-next{
    right: -20px;
    text-indent: 7px;
}
.wide-banner-prev{
    left: -20px;
    text-indent: 22px;
}
/*首焦结束*/
.wide-banner-right{
    cursor: pointer;
    width: 218px;
    height: 320px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    float: right;
    background: url("../images/bannerright.jpg");
}




/*分类开始*/
/*第一类:热点*/
.classify-content{
    width: 1190px;
    height: 140px;
    position: relative;
    margin:0 auto 10px;
    /*border: 1px solid red;*/
}
.hot-classify-left{
    float: left;
    width: 199px;
    height: 130px;
    border: 1px solid #e9e9e9;
    background-color: #f3f3f3;
    padding: 8px 0 0 11px;
}
.hot-classify-left>p{
    color: #666666;
    height: 26px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.hot-classify-left>ul>li{
    float: left;
    font-size: 12px;
    width: 57px;
    height: 28px;
    margin: 4px 8px 0 0;
    text-align: center;
    line-height: 27px;
    background: #fff;
    cursor: pointer;
}
.hot-classify-left>ul>li:hover{
    background-color: #6d9d03;
    color: #fff;
}
.hot-classify-mid{
    float: left;
    padding: 9px 8px;
}
.hot-classify-mid li{
    float: left;
    margin-right: 2px;
}
.hot-classify-mid li img{
    display: block;
}
.hot-classify-right{
    width: 216px;
    height: 138px;
    border: 1px solid #e9e9e9;
    float: left;
}
.hot-classify-right>ul{
    background: #f4f4f4;
}
.hot-classify-right>ul::after{
    content: "";
    display: block;
    clear: both;
}
.hot-classify-right>ul>li{
    color: #666;
    width: 106px;
    height: 26px;
    float: left;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
}

.hot-classify-right>ul>li.on{
    background: #fff;
    border-bottom: #fff solid 1px;
    color: #ff6600;
}
.hot-classify-right-right{
    display: none;
}
.hot-classify-right-left{
    /*display: none;*/
}
.hot-check-item>p{
    display: block;
    width: 206px;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
}
/*热门分类结束*/
/*今日秒杀开始*/
.hp-mbody{
    width: 1190px;
    height: 182px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.hp-mbody-checkbox{
    width: 210px;
    float: left;
}
.hp-mbody-checkbox>li{
    width: 210px;
    height: 91px;
    cursor: pointer;
}

.hp-mbody-checkbox>li:nth-child(1).on{
    background: url("../images/icon3.gif");
}
.hp-mbody-checkbox>li:nth-child(1){
    background: url("../images/icon3.gif");
    background-position: 0 -182px;
}
.hp-mbody-checkbox>li:nth-child(2){
    background: url("../images/icon3.gif");
    background-position: 0 -91px;
}
.hp-mbody-checkbox>li:nth-child(2).on{
    background: url("../images/icon3.gif");
    background-position: 0 -273px;
}
.hp-mbody-content{
    position: relative;
    display:none;
}
.hp-mbody-content img{
    width: 135px;
    height: 135px;
}
.hp-mbody-content li{
    /*position: absolute;*/
    float: left;
    width: 195px;
    text-align: center;
}

.hp-mbody-content p{
    color: #666;
    font-size: 12px;
}
.hp-mbody-content span{
    font-size: 14px;
    color: #ff6600;
}

/*划入左移的样式*/
.change-left{
    transition: transform 300ms ease;
}
.change-left:hover{
    transform: translateX(-4px);
}
/*1F楼层开始*/
.wide-f-main{
    width: 1190px;
    margin: 40px auto 0;
}
/*楼层的标题*/
.wide-f-title{
    height: 27px;
    border-bottom: 3px solid #72b7fc;
}
.wide-f-title>li{
    float: left;

}
/*楼名*/
.wide-f-title-left{
    color: #72b7fc;
    font-size: 19px;
    width: 210px;
}
.wide-f-title-left>span{
    margin-right: 8px;
}
/*楼中*/
.wide-f-title-mid{
    width: 490px;
    height: 27px;
    color: #666;
    font-size: 12px;
    line-height: 27px;

}
.wide-f-title-mid>a{
    padding: 0 8px;
}
.wide-f-title-mid>a:hover{
    color:#ff6600;
}
/*楼右*/
.wide-f-title-right{
    width: 440px;
    height: 27px;
    color: #666;
    font-size: 12px;
    line-height: 27px;
}
.wide-f-title-right>a{
    padding: 0 8px;
}
.wide-f-title-right>a:hover{
    color:#ff6600;
}
/*楼层更多*/
.wide-f-title-more>a{
    display: block;
    width: 40px;
    height: 27px;
    line-height: 27px;
    margin-left: 10px;
}
.wide-f-title-more>a:hover{
    color:#ff6600;
}
/*楼内容开始*/
/*左边一大块包括竖状轮播和热销排行*/
.wide-f-left{
    width: 210px;
    height: 720px;
    float: left;
    /*border-right: 1px red solid;*/
}
.wide-f-left-changeimgbox{
    width: 210px;
    height: 360px;
    position: relative;
    overflow: hidden;
}
.wide-f-left-changeimg{
    font-size: 0;
    width: 630px;
    position: absolute;
    top: 0;
    left: 0;
}
.wide-f-left-changeimg>li{
    float: left;
}
.wide-f-left-num{
    position: absolute;
    left: 50%;
    bottom: 12px;
    margin-left: -42px;
    z-index: 200;
}
.wide-f-left-num>li{
    margin-right: 2px;
    width: 40px;
    height: 5px;
    float: left;
    background: #e9e9e9;
}
.wide-f-left-num>li.on{
    background: #90C221;
}
/*竖状轮播结束热销商品开始*/
.hotgoods-line{
    width: 208px;
    height: 358px;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f7;
}
.hotgoods-line-title{
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
}

.hotgoods-line-ul>li{
    width: 190px;
    height: 88px;
    margin: 0 auto 14px;
    position: relative;
    overflow: hidden;
}
.hotgoods-line-ul>li>span{
    background: url("../images/f_hot_bg.png");
    position: absolute;
    z-index: 2;
    height: 33px;
    width: 190px;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hotgoods-line-ul>li:nth-child(1)>span{
    background-position: 0 0;
}
.hotgoods-line-ul>li:nth-child(2)>span{
    background-position: 0 -33px;
}
.hotgoods-line-ul>li:nth-child(3)>span{
    background-position: 0 33px;
}
.hotgoods-line-ul>li>img{
    position: absolute;
    left: 0;
    top: 18px;
}
.hotgoods-line-ul>li>a{
    width: 108px;
    padding: 0 3px 0 9px;
    line-height: 16px;
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 2;
}
.hotgoods-price{
    width: 108px;
    padding: 0px 3px 0px 9px;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    right: 0px;
    color: #ff6600;
    top: 50px;
}
.hotgoods-price>span{
    margin-left: 20px;
    color: #999999;
    text-decoration: line-through;
}
.hotgoods-price+i{
    font-size: 16px;
    width: 105px;
    position: absolute;
    right: 0px;
    top: 70px;
    color: #ff6600;
}
/*楼层左侧结束*/

/*楼层右侧开始*/
.wide-f-right{
    float: left;
    width: 979px;
    height: 719px;
    background-color: #e9e9e9;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 1px;
    overflow: hidden;
}
.wide-f-right-items{
    float: left;
    width: 223px;
    height: 228px;
    margin: 1px 1px 0 0;
    padding: 10px 10px 0 10px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.wide-f-right-items>p{
    margin-left: 10px;
}
.wide-f-right-items-double{
    float: left;
    width: 490px;
    height: 238px;
    margin: 1px 1px 0 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    perspective: 500px;
}
.wide-f-right-items-double>div{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: all 1000ms ease;
}
.wide-f-right-items-double>div:nth-of-type(1){
    transform: rotateY(0deg);
    z-index: 2;
}
.wide-f-right-items-double>div:nth-of-type(2){
    transform: rotateY(180deg);
}
.wide-f-right-items-double:hover div:nth-of-type(1){
    transform: rotateY(-180deg);
}
.wide-f-right-items-double:hover div:nth-of-type(2){
    transform: rotateY(0deg);
}
.wide-right-items-price{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 170px;
    left: 10px;
}
.wide-right-items-name{
    color: #666666;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 194px;
    left: 10px;
}
.wide-right-items-sales{
    top: 210px;
    color: #FF6600;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    left: 10px;
}

/*1F楼层结束*/

/*2F楼层开始*/
.wide-f-main{
    width: 1190px;
    height: 750px;
    margin: 40px auto;
}
/*2楼标题*/
.wide-f-title-2{
    border-bottom: 3px solid #fd81b3;
}
.wide-f-title-left-2{
    color: #fd81b3;
}

/*2楼结束*/

/*3楼标题*/
.wide-f-title-3{
    border-bottom: 3px solid #00cccc;
}
.wide-f-title-left-3{
    color: #00cccc;
}
/*3楼结束*/

/*4楼标题*/
.wide-f-title-4{
    border-bottom: 3px solid #666666;
}
.wide-f-title-left-4{
    color: #666666;
}
.wide-4f-up,
.wide-5f-up{
    height: 243px;
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
}
.wide-4f-up>.wide-4f-up-left{
    float: left;
    width: 710px;
    height: 243px;
    margin-right: 6px;
    background: -webkit-linear-gradient(-30deg,rgba(255,0,0,0) 0,
    rgba(255,255,255,0) 230px,
    rgba(255,255,255,0.1) 260px,
    rgba(255,255,255,0.1) 270px,
    rgba(255,255,255,0) 300px,
    rgba(255,255,255,0) 310px) no-repeat -270px 0,
    url(../images/4f_banner2.jpg) no-repeat;
    transition:1s;
}
.wide-4f-up>.wide-4f-up-left:hover{
    background-position:200px 0,0 0;
}
.wide-4f-up-mid{
    float: left;
    width: 233px;
    height: 243px;
    background: url("../images/4f_r.jpg");
    margin-right: 6px;
}
.wide-4f-up-right{
    width: 193px;
    height: 242px;
    border: 1px solid #e9e9e9;
    border-width: 0px 1px 1px 1px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px 0 20px;
}
.four-right-hot{
    width: 193px;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #e9e9e9;
    color: #333333;
    margin-bottom: 10px;
    font-size: 12px;
}
.four-right-price{
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}
.four-right-price-item>li{
    font-size: 12px;
    width: 62px;
    height: 18px;
    line-height: 18px;
    background-color: #94c51b;
    color: #fff;
    margin: 2px;
    margin-left: 0px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.wide-4f-cont{
    width: 1190px;
    height: 751px;
    margin: 0 auto;
    background-color: #e9e9e9;
}
.wide-4f-cont>ul>li{
    background-color: #fff;
    float: left;
    position: relative;
    width: 288px;
    height: 241px;
    margin: 1px 0 0 1px;
    padding: 4px;
}
.wide-4f-cont li>p{
    position: absolute;
    left: 4px;
    text-align: center;
    width: 288px;
    color: #666666;
    top: 190px;
    font-size: 12px;
}
.wide-4f-cont>ul>li>span{
    position: absolute;
    left: 4px;
    text-align: center;
    width: 288px;
    color: #ff6600;
    font-size: 16px;
    top: 210px;
}

/*送镜片等说明*/
.wide-4f-count-title{
    position: absolute;
    text-align: center;
    width: 288px;
    color: #333333;
    top: 30px;
    z-index: 2;
}

/*5楼开始*/
.wide-f-title-5{
    border-bottom: 3px solid #aa72d2;
}
.wide-f-title-left-5{
    color: #aa72d2;
}
.wide-5f-up-left{
    float: left;
    width: 710px;
    height: 243px;
    background: url("../images/5fbanner.jpg");
    margin-right: 6px;
}
.wide-5f-up-right{
    width: 474px;
    height: 243px;
    background: url("../images/5f_right.jpg");
    float: left;
}
.wide-5f-count-title-a{
    top:225px;
    color: #ff6600;
}
.wide-5f-count>ul>li>.wide-5f-count-title-span{
    top:190px;
    color: #ff6600;
}
.wide-5f-count>ul>li>.wide-5f-count-title-p{
    top: 210px;
    color: #666;
}
.wide-5f-count{
    height: 501px;
}
/*5楼内容结束*/

/*右侧漂浮*/
.pf-right{
    position: fixed;
    z-index: 10000;
    width: 55px;
    height: 365px;
    border: 1px solid #ccc;
    top: 252px;
    right: 100px;
    
}
.pf-right li{
    width: 55px;
    height: 60px;
    border-bottom: 1px #ccc solid;
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #6d9d03;
}
.pf-right li>i{
    font-size: 20px;
}
.pf-right li:hover{
    background: #94c51b;
    color: #fff;
}
.weixinkefu>div{
    position: absolute;
    background-image: url("../images/tubiao.png");
    background-position: -111px -461px;
    width: 198px;
    height: 254px;
    left: -198px;
    top: -174px;
    display: none;
}
.weixinkefu:hover div{
    display: block;
    animation: show 300ms linear;
}

.yanguangshi>div{
    position: absolute;
    background-image: url("../images/tubiao.png");
    background-position: -111px -414px;
    width: 196px;
    height: 47px;
    left: -197px;
    top: 0;
    display: none;
}
.yanguangshi:hover div{
    display: block;
    animation: show 300ms linear;
}
/*#gotoTop{
    display:none;
}*/
/*右侧漂浮结束*/
/*左侧楼层导航漂浮开始*/
.pf-left{
    width: 42px;
    height: 209px;
    position: fixed;
    top: 237px;
    left: 17px;
    background: #fff;
    z-index: 1000;
    display: none;
}
.pf-left li a{
    display: block;
    border: 1px #ccc solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    filter: opacity(0.7);
}
.pf-left li i{
    color: #6d9d03;
    font-size: 30px;
}
.pf-left li a.on{
    background: #e7e9ea;
    filter: opacity(1);
}


/*门店区块开始*/
.index-shop{
    width: 1190px;
    height: 364px;
    margin: 0 auto;
    position: relative;

}
.index-shop>ul{
    background-color: #e9e9e9;
    width: 1190px;
    height: 28px;
    border-bottom: 3px solid #94c51b;
    float: left;
}
.index-shop>ul>li{
    padding: 0 22.8px;
    color: #666;
    height: 27px;
    cursor: pointer;
    float: left;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 1px 0 0 1px;
    background: #ffffff;
}
.index-shop>ul>li.on{
    background: #94c51b;
    color: #fff;
}
.welcome-img{
    float: left;
}
.index-shop li:nth-of-type(10):hover{
    background: #ffffff;
}

.shopinfobox-mid{
    border: 1px solid #e9e9e9;
    width: 1188px;
    position: absolute;
    top: 25px;
    left: 0px;
    border-top: none;
    display: none;
}
.shopinfobox-mid.on{
    display: block;
}
.shopinfo{
    width: 680px;
    height: 60px;
    float: left;
    color: #666666;
    line-height: 25px;
    text-indent: 2em;
    margin: 10px 205px 10px 10px;
    font-size: 12px;
}


.shopinfo-icon{
    width: 270px;
    height: 30px;
    border-left: 1px solid #f1f1f1;
    float: left;
    margin: 15px 0 65px;
    padding-left: 16px;
}
.shopinfo-icon a{
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin: 3px 5px 3px 0px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background: #94c51b url(../images/serviceIcon.png) no-repeat;
}
.shopinfo-icon-guilin a:nth-child(1){
    background-position: -2px -2px;
}
.shopinfo-icon-guilin a:nth-child(2){
    background-position: -2px -58px;
}
.shopinfo-icon-guilin a:nth-child(3){
    background-position: -2px -86px;
}
.shopinfo-icon-guilin a:nth-child(4){
    background-position: -2px -114px;
}
.shopinfo-icon-guilin a:nth-child(5){
    background-position: -2px -142px;
}
.shopinfo-icon-guilin a:nth-child(6){
    background-position: -2px -198px;
}

.shopinfo-mapcheckbox{
    width: 169px;
    float: left;

}
.shopinfo-mapcheckbox li{
    cursor: pointer;
    width: 169px;
    height: 136px;
}
.mapinfo{
    background: url("../images/left_bg_all.png") no-repeat;
}
.mendiangaikuang{
    background-position: 0 -272px;
}
.mendiangaikuang.on{
    background-position: 0 0;
}
.jiaotongzhiyin{
    background-position: 0 -137px;
}
.jiaotongzhiyin.on{
    background-position: 0 -409px;
}
.shopinfo-items{
    position: absolute;
    left: 169px;
    top: 111px;
    display: none;
}
.shopinfo-items.on{
    display: block;
}
.shopinfo-map{
    width: 723px;
    height: 270px;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}
.shopinfo-message{
    float: left;
}
.shopinfo-message p{
    font-size: 12px;
    display: block;
    padding: 0 0 0 25px;
    margin: 5px 0 5px 17px;
    line-height: 18px;
    color: #666666;
    background: url(../images/serviceIcon.png) no-repeat;
}
.shopinfo-message .serviceTime{
    background-position: -2px -229px;
}
.shopinfo-message hr{
    text-indent: 10px;
    margin-left: 22px;
    width: 200px;
    color: #ccc;
}

.shopinfo-message .flagshipStore {
    background-position: -28px -5px;
}
.shopinfo-message .optometry{
    background-position: -28px -61px;
}
.shopinfo-message .customization{
    background-position: -28px -117px;
}
.shopinfo-message .onlineArea{
    background-position: -28px -145px;
}
.shopinfo-message .metroStation{
    background-position: -28px -201px;
}
.yuyue-btn {
    width: 189px;
    height: 52px;
    background: url("../images/cheng_btn.png");
    position: absolute;
    left: 750px;
    top: 208px;
}


.shopinfo-map>img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.shopinfo-map>img:nth-of-type(1){
    z-index: 1;
}

.phoneinfo{
    float: left;
    width: 296px;
    height: 272px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

/*页面脚部*/
.wide-footer{
    width: 100%;
    height: 400px;
    color: #999;
    background: #F0F0F0;
    margin-top: 44px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35) inset;
    padding-top: 10px;
}
.footer-img{
    margin: 0 auto;
    width: 980px;
    height: 100px;
    background: url("../images/nfot-bg-03.gif") no-repeat;
}
.footer-list{
    padding: 20px 20px 20px 70px;
    border-top: 1px #fff solid;
    border-bottom: 1px solid #E0E0E0;
    width: 900px;
    height: 86px;
    margin: 0 auto;
}
.footer-list>ul{
    float: left;
    width: 150px;
    color: #666;
}
.footer-list li{
    color: #666;
    font-size: 12px;
    height: 19px;
    line-height: 160%;
    text-align: center;
}
.footer-list li:nth-child(1){
    margin-bottom: 10px;
}
.footer-list h4{
    font-size: 14px;
    font-weight: bold;
}

.footer-list2{
    width: 1190px;
    border-top: 1px #fff solid;
    text-align: center;
    padding: 14px 0;
    margin: 0 auto;

}
.footer-list2 a{
    margin-right: 5px;
}
.footer-list2 p{
    padding-top: 5px;
    color: #999;
    font-size: 12px;
}
.last-img{
    width: 698px;
    height: 40px;
    margin: 0 auto;
    background: url("../images/FTC-01-bg3gg.jpg");
}
